POSTGRES_DB=skv
POSTGRES_USER=skv
POSTGRES_PASSWORD=

DIRECTUS_SECRET=

DIRECTUS_ADMIN_EMAIL=
DIRECTUS_ADMIN_PASSWORD=
SITE=http://localhost:4321
PUBLIC_DIRECTUS_URL=http://localhost:8055
PUBLIC_CONTACT_ENDPOINT=
